html { font-size:100%; }

@media (min-width:640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.5rem;} }
@media (min-width:1100px) { body {font-size:2.0rem;} }
@media (min-width:2000px) { body {font-size:3rem;} }

.parent .child {
  font-size: 1em;
}

.setting_head {
    background:#7fb5da;
}
td {
	font-size: 1.2em; 	
}
table, th, td {
  border: 0.1em solid black; 
  border-collapse: collapse;
}

#showClock {
  font-size: 4em; 
  margin: 0.1em; 
}
 
button, i {
	font-size: 1.3em;
	height:4em;
	width:4em;
}

input[type=button]{ 
	font-size: 2em; 
	height:2em;
}	

input[type=radio] { 
	position: relative; 
	top:0.1em;
}
input[type=number] { 
	
	font-size: 2em; 
}


label {
    position: relative;
	font-size: 1em;
	top: 0.1em; /* adjust this up or down */
}

p {
	width: 400px;
	word-wrap: break-word;
}
 